:root {
  --ifm-color-primary: #0b5fff;
  --ifm-color-primary-dark: #0a54e5;
  --ifm-color-primary-darker: #094bce;
  --ifm-color-primary-darkest: #073da8;
  --ifm-color-primary-light: #2a74ff;
  --ifm-color-primary-lighter: #4b89ff;
  --ifm-color-primary-lightest: #7da8ff;
}

