Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  security-*,
  readability-*,
  clang-analyzer-*,
  performance-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: 'libgitledger/core/.*'
FormatStyle: file

